<div class="site-wrapper push-below-header">  <!-- Splash page wrapper. Starts below the navbar. -->
  
  <div class="site-wrapper-inner">
  
    <div class="cover-container"> 
      
      <div id="section0" class="section">
        <div id="splash-page-1" class="clearfix splash-page-section-wrapper"> <!-- Splash Page First Section -->
          <h1 class="selection-page-section-instructions">Choose the friend you're buying  for</h1>        
          <%=image_tag("simley_2.jpg", alt: "Example Image", id: "recipient")%>
          <button class="btn btn-lg btn-danger giftee" id="block">Select Friend</button>
<!--           <i id="block" class="fa fa-arrow-down block selection-page-arrow"></i>
 -->        </div>
      </div>

      <div id="section1" class="section">
        <div id="app-setup-page-2" class="clearfix splash-page-section-wrapper"> <!-- Splash Page Second Section -->
          <!-- <h1 class="add_gift_ideas_instructions-app selection-page-section-instructions">Add gift ideas</h1> -->
          <h1 class="what_gift_instructions-app selection-page-section-instructions">What gift are you considering?</h1>
          <form class="form-inline" role="form" id="new_item_form">
            <div class="form-group">
              <input type="text" class="form-control" id="new_item_name_input" name="new_item_name_input" placeholder="Enter Gift Name" onfocus="this.placeholder=''" onfocusout="this.placeholder='Enter Gift Name'">
              <h1 class="instructions-app selection-page-section-instructions">Does it have a URL? (If not, leave blank) </h1>
              <input type="text" class="form-control" id="new_item_url" name="new_item_url_input" placeholder="Enter Gift URL" onfocus="this.placeholder=''" onfocusout="this.placeholder='Enter Gift URL'">
              <h1 id="add_photo_instructions">Add a photo </h1>
            <div id="poll_buttons">
              <div id="uploader">
              <button class="uploader btn btn-primary btn-file">Upload Photo<input type="file" class="filestyle" data-classButton="btn btn-primary" id="files" name="files[]" multiple /></button>
              <output id="list"></output>
              </div>
            <div class="selector">
              <button class="scraper btn btn-primary" id="scraped_files" name="scraped_files[]" multiple>Select Photo From URL</button>
              <output id="list"></output>
            </div>
            </div>
            <button class="add_item_button block btn-lg center btn btn-danger">Submit Gift</button>
            </div>
          </form>
          <div id="item_list" class="poll-creation-item-selection"></div>
          <div class="row scrapedImagesHover">
            <%=image_tag("cancel-new.png", :class => "close-me")%>
          </div>

          <!-- <i id="block" class="fa fa-arrow-down block selection-page-section-2-arrow"></i> -->

        </div>
      </div>

      <div id="section3" class="section">
        <div id="splash-page-3" class="clearfix splash-page-section-wrapper"> <!-- Splash Page Third Section -->
          <h1 class="instructions-app selection-page-section-instructions">Pick the friends who know them best</h1>
          <div id="index-accomplices">
            <%=image_tag("friend_pics/kate.png", alt: "Example Image", id: "index-img-1")%>
            <%=image_tag("friend_pics/rashad.jpg", alt: "Example Image", id: "index-img-2")%>
            <%=image_tag("friend_pics/natalie.jpg", alt: "Example Image", id: "index-img-3")%>
            <%=image_tag("friend_pics/jtr.jpg", alt: "Example Image", id: "index-img-3")%>
            <%=image_tag("friend_pics/norman.jpg", alt: "Example Image", id: "index-img-3")%>
          </div>
          <button class="btn btn-danger btn-lg mutual-friends-link" id="block">Select Friends</button>
          
        </div>
      </div>

    </div>
  
  </div>

</div>

<%= render text: File.read("app/views/templates.txt").html_safe %>
